* {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: rgb(57, 57, 57);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
}


ul {
    padding-left: 0;
    margin-top: 18px;

}


li {
    list-style: none;
    background: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px;
    margin: 7px 12px;
    font-size: 14px;
}


h2,
h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 20%;
}


h2 {
    /* margin: -10% 0; */
    font-size: 14px;
    padding: 16%;
}


h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
}


.header {
    background: #fbfbfa;
    padding-top: 5px;
    padding-bottom: 24px;

}


.title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 15px;
}


#top {
    text-transform: uppercase;
}


a {
    text-decoration: none;
    color: rgb(57, 57, 57);
}


a:hover {
    text-decoration: underline;
    color: plum;
}


.bio {
    margin-top: 12px;
    padding: 4%;
    font-weight: 300;
}


.profile-pic {
    width: 65%;
    margin-top: 8%;
}


.main-img {
    max-width: 90%;
}


.portfolio-container {

    margin-bottom: 15%;
    color: rgb(57, 57, 57)
}

.project {
    margin-bottom: 20px;
}


.project p {
    /* padding: 14px 5% 18px 5%; */
    padding: 17px;
    font-weight: 300;
    color: #000;
}


.contact-container {
    margin-bottom: 15%;
}


.bottom-container {
    background: #fbfbfa;
}


.contact-text {
    padding: 0 5%;
    margin: 5% 0;
}


.contact-container p,
.contact-info {
    color: rgb(71, 69, 69);
    font-weight: 300;
    padding-bottom: 20px;
}



.contact-info a {
    padding-left: 10px;
    font-weight: 600;
    color: rgb(90, 87, 87);

}


.top {
    margin: 15px 0;
    font-size: 12px;
    font-weight: 700;
}


.name {
    font-size: 14px;
    font-weight: 700;
}


footer {
    display: flex;
    border-top: 1px solid lightgrey;
    margin: 0% 15px;
    padding-bottom: 8%;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
}


.nav {
    display: none;
}


/* ---------Media Queries ----------- */

/* Tablet */

@media screen and (min-width: 768px) {

    p.bio,
    .contact-container p {
        font-size: 20px;
        margin-bottom: 4px;
    }


    .title {
        padding-top: 25px;
    }


    ul {
        display: flex;
        justify-content: center;
    }


    li {
        background-color: #fbfbfa;
        font-size: 14px;
    }


    .section-2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 10px;
        padding-bottom: 5%;
    }


    .bio {
        text-align: left;
        padding: 0 25px;
    }


    .profile-pic {
        width: 41%;
        padding-top: 0;
        padding-right: 25px;
        margin-top: 6%;
    }


    h2 {
        padding: 0;
        margin: 50px 0;
    }


    h3 {
        margin: 5px 0
    }

    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .project {
        flex-basis: 50%;
        margin: 0 -5%;
    }

    .project p {
        font-size: 15px;
        margin-bottom: 12%;
        padding: 10px 14%;
    }


    .main-img {
        padding-bottom: 15px;
        width: 100%;
    }

    h4 {
        padding-top: 8%;
        padding-bottom: 0px;
    }

    .contact-container {
        margin-bottom: 7%;
    }

    p.contact-text {
        margin: 48px auto;
        padding: 0 15%;
    }

    p.contact-info {
        padding-bottom: 16px;
    }


    .top {
        display: none;
    }


    .nav {
        display: flex;
        margin-top: 0px;
    }

    .nav li {
        font-size: 12px;
        padding: 0px 10px;
    }
  
}


@media screen and (min-width: 1024px) {


    .section-1 {
        display: flex;
        padding: 20px 5%;
        justify-content: space-between;
    }

    .section-2 {

        display: flex;
        align-items: flex-start;
    }

    .profile-pic {
        margin-top: 15px;
        margin-right: 40px;
    }

    .bio {
        padding-right: 4%;
        padding-left: 5%;
    }

    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .project {
        flex-basis: 40%;
        padding: 0 30px;
    }
}