* {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: rgb(57, 57, 57);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
}


ul {
    padding-left: 0;
    margin-top: 18px;
}


li {
    list-style: none;
    background: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px;
    margin: 7px 12px;
    font-size: 14px;
}


h2,
h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 20%;
}


h2 {
    margin: 15% 0;
    font-size: 14px;
    padding: 0px 0;
    
}


h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
}


.head {
    background: #fbfbfa;
    padding-top: 5px;
    padding-bottom: 24px;

}


.title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px;
}
    


#top {
    text-transform: uppercase;
}


a {
    text-decoration: none;
    color: rgb(57, 57, 57);
}


a:hover {
    text-decoration: underline;
    color: plum;
}


.bio {
    margin-top: 12px;
    padding: 5% 6%;
    font-weight: 300;
}


.profile-pic {
    width: 65%;
    margin-top: 8%;
}


.main-img {
    max-width: 90%;
}



.portfolio-container {

    margin-bottom: 15%;
    color: rgb(57, 57, 57)
}

.project {
    height: auto;
    

}


.project p {
    padding: 15px 5%;
    margin-bottom: 30px;
    font-weight: 300;
    color: #000;
}


.contact-container {
    margin-bottom: 15%;
}


.bottom-container {
    background: #fbfbfa;
}


.contact-text {
    padding: 0px 6%;
    margin: 5% 0;
}


.contact-container p,
.contact-info {
    color: rgb(71, 69, 69);
    font-weight: 300;
    padding-bottom: 20px;
}



.contact-info a {
    padding-left: 10px;
    font-weight: 600;
    color: rgb(90, 87, 87);

}


.top {
    margin: 15px 0;
    font-size: 12px;
    font-weight: 700;
}


.name {
    font-size: 14px;
    font-weight: 700;
}


footer {
    display: flex;
    border-top: 1px solid lightgrey;
    margin: 0% 15px;
    padding-bottom: 10%;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
}


.nav {
    display: none;
}


/* ---------Media Queries ----------- */

/* Tablet */

@media screen and (min-width: 768px) {

    p.bio,
    .contact-container p {
        font-size: 20px;
        margin-bottom: 4px;
    }


    .title {
        padding-top: 5%;
    }


    ul {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }


    li {
        background-color: #fbfbfa;
        font-size: 14px;
    }


    .section-2 {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 0px;
        padding-bottom: 4%;
        align-items: center;
        height: 250px;
    }


    .bio {
        text-align: left;
        padding: 0px 25px;
        margin-top: 0px;
    }


    .profile-pic {
        width: 41%;
        padding-top: 0;
        padding-right: 28px;
    }


    h2 {
        margin: 0 22px;
        padding: 5% 0;
    }


    h3 {
        margin: 5px 0;
    }

    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 22px;
        padding-bottom: 10px;
    }

    

    .project {
        flex-basis: 40%;
        margin: 0 7px;
        flex-grow: 1;
    }

    .project p {
        font-size: 15px;
        margin-bottom: 12%;
        padding: 10px 35px;
    }


    .main-img {
        padding-bottom: 15px;
        max-width: 100%;
    }

    h4 {
        padding-top: 8%;
        padding-bottom: 0px;
    }

    .contact-container {
        margin-bottom: 8%;
    }

    p.contact-text {
        margin: 48px auto;
        padding: 0 15%;
    }

    p.contact-info {
        padding-bottom: 16px;
    }


    .top {
        display: none;
    }


    .nav {
        display: flex;
        margin-top: 0px;
    }

    .nav li {
        font-size: 12px;
        padding: 0px 10px;
    }

}


@media screen and (min-width: 1024px) {

    body {
        background-color: #fbfbfa;
    }


    .head {
        padding-bottom: 40px;
    }


    .section-1 {
        display: flex;
        padding: 15px 5%;
        justify-content: space-between;
        align-items: center;
    }


    .section-2 {
        display: flex;
        align-items: flex-start;
        margin-top: 0;
    }


    .profile-pic {
        margin-top: 15px;
        margin-right: 40px;
    }


    .bio {
        padding-right: 4%;
        padding-left: 5%;
        padding-top: 12px;
    }


    .portfolio-container {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       padding: 0 15px;
       
    }
    

    .project {
        flex-basis: 30%;
    }
        

    .project p {
        padding: 0 19px;
    }


    .portfolio-container,
    .project,
    h2 {
        background-color: #fff;
    }

    .contact-container a {
        font-weight: 800;
    }

    footer {
        padding: 25px 0;
        margin: 0 5%;
    }

}